<option value=''>
  {{#if defaultText}}
    {{defaultText}}
  {{else}}
    {{ i18n 'concept.field.placeholder' }}
  {{/if}}
</option>

{{#each concepts}}
  <option {{#if selected}}selected{{/if}}
          value="{{id}}">{{{indent}}}{{displayName}}</option>
{{/each}}

