<div class="navbar-search">

  <div class="segmented-control">
    {{#each types}}
    <button data-type="{{name}}" class="find-{{cls}} {{#if selected}}active{{/if}}">{{displayName}}</button>
    {{/each}}
  </div>

  <div class="search-query-container">
    <input type="text" class="search-query" placeholder="{{ i18n 'search.field.placeholder' }}">
    <a style="display:none"></a>
  </div>

  <div class="search-query-validation"></div>
  <div class="search-hits"></div>
</div>

{{#each types}}
<div class="search-type search-type-{{cls}} {{#if selected}}active{{/if}}"></div>
{{/each}}

