<div class="diffs-list">
<table class="table">
  <thead>
    <tr>
      <th colspan="3">
        <!--div class="btn-group actions" style="float:right">
          <button class="btn btn-mini">Publish All</button>
          <button class="btn btn-mini">Undo All</button>
        </div-->
        <h1 class="header">
          <button class="btn btn-small publish-all btn-success"></button>
          <button class="btn btn-small undo-all btn-danger"></button>
          <span>Unpublished Changes</span></h1>
      </th>
    </tr>
  </thead>
  <tbody>

    <% diffs.forEach(function(diff) { %>
    <tr class="vertex-row <%= diff.className %>" data-diff-id="<%= diff.id %>" data-vertex-id="<%= diff.vertexId %>">
        <th class="vertex-label" colspan="2">
          <div class="img" <% if (diff.vertex) { %> style="background-image:url(<%= diff.vertex.imageSrc %>)"<% } %>></div>
          <h1><%= diff.title %></h1>
          <% if (diff.action.type !== 'update') { %>
          <span class="label action-type"><%= diff.action.display %></span>
          <% } %>
        </th>
        <% if (diff.action.type === 'create') { %>
          <% include workspaces/diff/actions %>
        <% } else { %>
          <td>&nbsp;</td>
        <% } %>
    </tr>

    <% diff.properties.forEach(function(property) { %>
    <tr class="<%= property.className %>" data-diff-id="<%= property.id %>">
      <td class="property-label"><%= formatLabel(property.name) %></td>
      <td class="property-value"><% 
        if (property.old && property.new) { %>  
        <%= formatValue(property.name, property.new) %> 
        <div style="text-decoration:line-through"><%= formatValue(property.name, property.old) %></div>  
        <% } else if (property.new) { %> 
        <%= formatValue(property.name, property.new) %> 
        <% } %>
      </td>
      <% include workspaces/diff/actions %>
    </tr>
    <% }); %>

    <% diff.edges.forEach(function(edge) { %>
    <tr class="<%= edge.className %>" data-diff-id="<%= edge.id %>">
      <td class="edge-label"><div><%= edge.displayLabel %><span>&#8594;</span></div></td>
      <td class="edge-value"><%= edge.inVertex ? edge.inVertex.properties.title.value : edge.inVertexId %></td>
      <% include workspaces/diff/actions %>
    </tr>
    <% }); %>
    <% }); %>
  </tbody>
</table>
</div>
