
<div class="detail-toolbar">
  <div class="btn-toolbar">

    <div class="btn-group">
      <a class="btn btn-small dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-share"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="" href="<%= vertex.imageRawSrc %>" target="_blank">Open <%= vertex.concept.displayType %></a></li>
        <li><a class="" href="<%= vertex.imageRawSrc %><%= /\?/.test(vertex.imageRawSrc) ? '&' : '?' %>download=true" target="_blank">Download <%= vertex.concept.displayType %></a></li>
      </ul>
    </div>

    <%- fullscreenButton %>

    <%- auditsButton %>
  </div>
</div>

<h1 class="generic-draggable artifact-title" data-vertex-id='<%= vertex.id %>'><%= formatters.vertex.prop(vertex, 'title') %></h1>

<% if(vertex.concept.displayType == 'video') { %>
  <div class="preview"/>
  <div class="currentTranscript"></div>
<% } %>
<% if(vertex.concept.displayType == 'image') { %>
  <div class="image-preview opens-dropdown"></div>
<% } %>
<% if(vertex.concept.displayType == 'audio') { %>
  <div class="audio-preview"></div>
  <div class="currentTranscript"></div>
<% } %>

<div class='detected-object-labels' style="display:none"><%
  (vertex.detectedObjects).forEach(function(object) {
    if (object.graphVertexId) {
        var conceptType = object['http://lumify.io#conceptType'];
        var title = object.title;
        var classes = 'label-info detected-object resolved entity conceptType-' + conceptType;%>
        <span class="detected-object-tag">
            <a class="<%= classes %> label opens-dropdown" data-info="<%= JSON.stringify(object) %>" href="#"><%= title %></a>
        </span>
    <%} else { %>
    <span class="detected-object-tag">
        <a class="label label-info detected-object opens-dropdown" data-info="<%= JSON.stringify(object) %>" href="#"><%= object.classifierConcept %></a>
    </span>
  <% }}); %></div>

<div class="artifact-header">
  <div class="properties">
    <div class="nav-header">Properties<span class="badge loading"/></div>
  </div>
</div>

<div class="text"><span class="badge loading"/></div>
