
<div class="detail-toolbar">
  <div class="btn-toolbar">

    <div class="btn-group">
      <a class="btn btn-small dropdown-toggle" href="#" data-toggle="dropdown"><i class="icon-share"></i>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="" href="/artifact/<%= vertex.id %>/raw" target="_blank">Open <%= vertex.concept.displayType %></a></li>
        <li><a class="" href="/artifact/<%= vertex.id %>/raw?download=true" target="_blank">Download <%= vertex.concept.displayType %></a></li>
      </ul>
    </div>

    <%- fullscreenButton %>

    <%- auditsButton %>
  </div>
</div>

<h1 class="generic-draggable artifact-title" data-vertex-id='<%= vertex.id %>'><%= vertex.properties.title.value %></h1>

<% if(vertex.concept.displayType == 'video') { %>
  <div class="preview"/>
  <div class="currentTranscript"/>
<% } %>
<% if(vertex.concept.displayType == 'image') { %>
  <div class="image-preview opens-dropdown">
    <img class="target" src='/artifact/<%= vertex.id %>/raw' width="auto" height="300"/>
  </div>
<% } %>

<div class='detected-object-labels'>
  <% (vertex.detectedObjects).forEach(function(object) { debugger;
    if (object.value.graphVertexId) {
        var classes = 'label-info detected-object resolved entity conceptType-' + object.value._conceptType;%>
        <span class="label detected-object-tag">
            <a class="<%= classes %> opens-dropdown" data-info="<%= JSON.stringify(object) %>" href="#"><%= object.value.title || object.value.classifierConcept %></a><a class="delete-tag">&times;</a>
        </span>
    <%} else { %>
    <span class="label detected-object-tag">
        <a class="label-info detected-object opens-dropdown" data-info="<%= JSON.stringify(object) %>" href="#"><%= object.title || object.value.classifierConcept %></a>
    </span>
  <% }}); %>
</div>

<div class="artifact-header">
  <div class="properties">
    <div class="nav-header">Properties<span class="badge loading"/></div>
  </div>
</div>

<div class="text"><span class="badge loading"/></div>
