<div class="form">
  <div class="errors"></div>

  <div class="text src-term"><span><%= source %></span></div>
  <div class="text dest-term"><span><%= dest %></span></div>

  <div class="arrow-wrap">
    <select>
        <option><%= i18n('relationship.form.types.loading') %></option>
    </select>

    <div class="arrow"/>
      <a class="invert" href="#"><%= i18n('relationship.form.button.invert') %></a>
  </div>

  <div class="justification"></div>
  <div class="visibility"></div>

  <div class="buttons">
    <button class="btn btn-link btn-small cancel"><%= i18n('relationship.form.button.cancel') %></button>
    <button class="create-statement btn btn-small btn-primary"><%= i18n('relationship.form.button.create') %></button>
  </div>
</div>
