<html>
<head>
    <title>Change Password</title>
    <link href="css/lumify.css" rel="stylesheet" media="screen">
    <script src="libs/jquery/jquery.js"></script>
    <script>
$(function() {
    $('.btn-primary').on('click', function(event) {
      var old = $('#old').val(),
          confirm = $('#confirm').val(),
          btn = $(this).attr('disabled', true).addClass('loading');

      event.preventDefault();

      $('.text-error').empty();
      $.post('{{ formAction }}', {
        '{{ tokenParameterName }}': '{{ token }}',
        '{{ newPasswordParameterName }}': old,
        '{{ newPasswordConfirmationParameterName }}': confirm
        })
          .fail(function(e) {
            btn.removeAttr('disabled').removeClass('loading');
            var error;
            if (/^\s*{/.test(e.statusText)) {
              try {
                var json = JSON.parse(e.statusText);
                error = json['{{ newPasswordParameterName }}'] ||
                   json['{{ newPasswordConfirmationParameterName }}'];
              } catch(e) {}
            }
            $('.text-error').text(
              error || e.statusText
            );
          })
          .done(function() {
            location.href = '../';
          });
    })
});
    </script>
</head>
<body>
<div class="logo"></div>
<form action="{{ formAction }}" method="POST" style="width: 13em;margin: auto;">
  <div class="text-error"></div>
  <input type="hidden" name="{{ tokenParameterName }}" value="{{ token }}">

  <label>
    {{ newPasswordLabel }}<br>
    <input type="password" id="old" name="{{ newPasswordParameterName }}">
  </label>

  <label>
    {{ newPasswordConfirmationLabel }}<br>
    <input type="password" id="confirm" name="{{ newPasswordConfirmationParameterName }}">
  </label>

  <button class="btn btn-primary" style="width:100%; margin-top:1em;">Change Password</button>
</form>
</body>
</html>
