<form action="{{ formAction }}" method="POST">
  <input type="hidden" name="{{ tokenParameterName }}" value="{{ token }}" />
  <label for="{{ newPasswordParameterName }}">{{ newPasswordLabel }}</label>
  <input type="password" name="{{ newPasswordParameterName }}" id="{{ newPasswordParameterName }}" /><br />
  <label for="{{ newPasswordConfirmationParameterName }}">{{ newPasswordConfirmationLabel }}</label>
  <input type="password" name="{{ newPasswordConfirmationParameterName }}" id="{{ newPasswordConfirmationParameterName }}" /><br />
  <input type="submit" />
</form>