  <li class="<%= shouldHide ? 'hidden' : '' %>">
    <% var relativeDate = formatters.date.relativeToNow(new Date(audit.dateTime)),
           absoluteDate = sf('{0:yyyy-MM-dd HH:mm}', new Date(audit.dateTime)); %>

    <% if (audit.propertyAudit) { 

       var to = formatValue(audit.propertyAudit.newValue, audit.propertyAudit.propertyName); %>
       <span class="audit-subtitle">
          <span class="audit-action"><%= audit.data.action %></span> by
          <span class="audit-user" 
                data-user-id="<%= audit.data.userId %>"><%= audit.data.userName %></span>,
          <span class="audit-date" 
                data-date-relative="<%= relativeDate %>"
                data-date="<%= absoluteDate %>"><%= relativeDate %></span>
       </span>
       <span class="audit-to">
         <% if (to && audit.propertyAudit.propertyName === '_visibilityJson') { %>
           <span class="visibility" data-visibility="<%= to %>"></span>
         <% } else { %>
           <%= to %>
         <% } %>
        </span>
    <% } else if (audit.entityAudit && audit.entityAudit.title) { %>

       <span class="audit-subtitle">
          <span class="audit-user" 
                data-user-id="<%= audit.data.userId %>"><%= audit.data.userName %></span>,
          <span class="audit-date" 
                data-date-relative="<%= relativeDate %>"
                data-date="<%= absoluteDate %>"><%= relativeDate %></span>
       </span>
       <span class="audit-message">
        <%= audit.data.action %>
        <%= audit.data.type %> 
        <a data-info="<%= createInfoJsonFromAudit(audit.entityAudit) %>" href="#v=<%= audit.entityAudit.id %>" class="audit-to entity resolved"><%= audit.entityAudit.title %></a>
       </span>

    <% } else if (audit.relationshipAudit && audit.relationshipAudit.label) { %>

       <span class="audit-subtitle">
          <span class="audit-user" 
                data-user-id="<%= audit.data.userId %>"><%= audit.data.userName %></span>,
          <span class="audit-date" 
                data-date-relative="<%= relativeDate %>"
                data-date="<%= absoluteDate %>"><%= relativeDate %></span>
       </span>

       <span class="audit-message">
        <%= audit.data.action %>
        <span class="audit-to"><%= audit.relationshipAudit.label %></span>
        <%= audit.data.type %> 
        <% if (currentVertexId === audit.relationshipAudit.sourceId) { %>
          to <a data-info="<%= createInfoJsonFromAudit(audit.relationshipAudit, 'dest') %>" href="#v=<%= audit.relationshipAudit.destId %>" class="audit-to entity resolved"><%= audit.relationshipAudit.destTitle %></a>
        <% } else { %>
          from <a data-info="<%= createInfoJsonFromAudit(audit.relationshipAudit, 'source') %>" href="#v=<%= audit.relationshipAudit.sourceId %>" class="audit-to entity resolved"><%= audit.relationshipAudit.sourceTitle %></a>
        <% } %>
       </span>



    <% } else { %>
       <span class="audit-subtitle">
          <span class="audit-user" 
                data-user-id="<%= audit.data.userId %>"><%= audit.data.userName %></span>,
          <span class="audit-date" 
                data-date-relative="<%= relativeDate %>"
                data-date="<%= absoluteDate %>"><%= relativeDate %></span>
       </span>
       <span class="audit-message"><%= audit.data.action %> <%= audit.data.type %></span>
    <% } %>
</li>
