<tr clas="property property-<%= property.key %>">

  <td class="property-name"><strong><%= property.displayName %></strong></td>

  <td class="property-value">

    <% if (property.key === 'http://lumify.io#geolocation' && property.value) { %>

      <% if (popout) { %>
        <span>
      <% } else { %>
        <a href="#" class="map-coordinates" data-latitude="<%= property.value.value.latitude %>" data-longitude="<%= property.value.value.longitude %>">
      <% } %>

      <%= (property.value._geoLocationDescription && property.value._geoLocationDescription.value) || (property.value.value.latitude + ', ' + property.value.value.longitude) %>

      <% if (popout) { %>
        </span>
      <% } else { %>
        </a>
      <% } %>

      <button data-property="<%= JSON.stringify(property.property) %>" class="info"></button>

      <span class="visibility" data-visibility="<%= JSON.stringify(_.isUndefined(property.visibility) ? '' : property.visibility) %>"></span>

    <% } else { %>

      <%= property !== undefined && property !== null ? property.value : '' %>
      <button data-property="<%= JSON.stringify(property.property) %>" class="info"></button>
      <span class="visibility" data-visibility="<%= JSON.stringify(_.isUndefined(property.visibility) ? '' : property.visibility) %>"></span>

    <% } %>


  </td>
</tr>
