<tr class="property property-<%= formatters.className.to(property.key) %>">

  <td class="property-name"><strong><%= property.displayName %></strong></td>

  <td class="property-value">

    <% if (property.key === 'http://lumify.io#visibilityJson') { %>

        <span class="visibility entity-visibility" data-visibility="<%= JSON.stringify(property.value) %>"></span>
        <button data-property="<%= JSON.stringify(property) %>" class="info"></button>

    <% } else { %>

      <% if (property.displayType === 'geoLocation' && property.value) { %>

        <% if (popout) { %>
          <span>
        <% } else { %>
          <a href="#" class="map-coordinates" data-latitude="<%= property.value.value.latitude %>" data-longitude="<%= property.value.value.longitude %>">
        <% } %>

        <%= property.stringValue %>

        <% if (popout) { %>
          </span>
        <% } else { %>
          </a>
        <% } %>

      <% } else { %>
        <%= property !== undefined && property !== null ? property.value : '' %>
      <% } %>

        <button data-property="<%= JSON.stringify(property) %>" class="info"></button>
        <span class="visibility" data-visibility="<%= JSON.stringify(_.isUndefined(property.visibility) ? '' : property.visibility) %>"></span>

    <% } %>

  </td>
</tr>
