<li class="property property-<%= property.key %>">
<strong><%= property.displayName %></strong>
<% if (property.key === 'geoLocation' && property.value) { %>

  <span class="value">

    <% if (popout) { %>
      <span>
    <% } else { %>
      <a href="#" class="map-coordinates" data-latitude="<%= property.value.latitude %>" data-longitude="<%= property.value.longitude %>">
    <% } %>

    <%= (property.value._geoLocationDescription && property.value._geoLocationDescription.value) || (property.value.latitude + ', ' + property.value.longitude) %>

    <% if (popout) { %>
      </span>
    <% } else { %>
      </a>
    <% } %>

    <span class="visibility" data-visibility="<%= _.isUndefined(property.visibility) ? '' : property.visibility %>"></span>
  </span>

<% } else { %>

  <span class="value"><%= property !== undefined && property !== null ? property.value : '' %>
    <span class="visibility" data-visibility="<%= _.isUndefined(property.visibility) ? '' : property.visibility %>"></span>
  </span>

<% } %>

</li>
