
<div class="entity-background">
  <div class="entity-glyphIcon"/>

  <h1 title="<%= F.vertex.title(vertex) %>" class='generic-draggable entity-title' data-vertex-id="<%= vertex.id %>"><%= F.vertex.title(vertex) %><div class="subtitle"><%= vertex.concept.displayName %></div></h1>

  <div class="detail-toolbar">
    <div class="btn-toolbar">
      <% var sourceUrl = _.findWhere(vertex.properties, { name: 'http://lumify.io#sourceUrl' }); %>
      <% if (sourceUrl) { %>
        <a title="<%= i18n('detail.entity.source_url.button') %>" class="btn btn-small" target="_blank" href="<%= sourceUrl.value %>"><i class="icon-share"></i></a>
      <% } %>
      <%- fullscreenButton %>

      <%- auditsButton %>
    </div>
  </div>
</div>

<div class="nav-with-background">
    <div class="properties"></div>

    <section class="relationships collapsible">
      <h1>
        <strong>Relationships</strong>
        <span class="badge"></span>
      </h1>
      <div class="relationships"></div>
    </section>
</div>
