<div class="preview highlight-colors" 
     style="width:<%= width %>px; font-size:<%= width * 0.04 %>px; height: <%= width * 1.2 %>px;">
  <div class="scroller">
    <h1 class="title" style="font-size:<%= width * 0.078 %>px;">
      <%= title %>
    </h1>
    <%- html %>
  </div>
</div>
