<div class="detail-toolbar">
  <div class="btn-toolbar">
    <%- auditsButton %>
  </div>
</div>

<h1 style="padding:0 0.5em;">
<span class="vertex-to-vertex-relationship generic-draggable fake-link" data-vertex-id='<%- relationshipData.source.id %>' >
        <%= F.vertex.title(relationshipData.source) %>
</span>

&#8674;

<span class="vertex-to-vertex-relationship generic-draggable fake-link" data-vertex-id='<%- relationshipData.target.id %>'>
        <%= F.vertex.title(relationshipData.target) %>
</span>
</h1>

<div class="properties"/>
