<span 
  class="add-on timezone"
  title="{{ i18n 'field.datetime.tooltip.timezone' }}: {{name}} {{tzOffsetDisplay}}"
  ><strong 
    data-display-offset="{{tzOffsetDisplay}}">{{tzAbbr}}</strong></span>
