
<table cellpadding="0">

  <% if (!predicates || hasGeocoder) { %>
  <tr class="input-prepend">
    <td class="predicate-row">
      <span class="add-on"><%= i18n('field.geolocation.form.description') %></span>
    </td>

    <td class="input-row">
      <input data-optional="true" class="description" type="text" value="<%= value && value.description || '' %>" />
    </td>
  </tr>
  <% } %>

  <tr class="input-prepend">
    <td class="predicate-row">
      <span class="add-on"><%= i18n('field.geolocation.form.latitude') %></span>
    </td>

    <td class="input-row">
      <input class="lat" type="text" value="<%= value && 'latitude' in value ? value.latitude : '' %>" />
    </td>
  </tr>

  <tr class="input-prepend">
    <td class="predicate-row">
      <span class="add-on"><%= i18n('field.geolocation.form.longitude') %></span>
    </td>

    <td class="input-row">
      <input class="lon" type="text" value="<%= value && 'longitude' in value ? value.longitude : '' %>"></input>
    </td>
  </tr>

  <% if (predicates) { %>
  <tr class="input-prepend">
    <td class="predicate-row">
      <span class="add-on"><%= i18n('field.geolocation.form.radius') %></span>
    </td>

    <td class="input-row">
      <input class="radius" placeholder="<%= i18n('field.geolocation.form.radius.placeholder') %>" type="text"></input>
    </td>
  </tr>
  <% } %>

</table>

