<li style="display:none" data-concept-id="<%= concept.id %>" 
class="concept-<%= concept.id %>"
><a title="<%= concept.displayName %>" style="padding-left:<%= indent %>px;"
  ><%= concept.displayName %><span class="badge"></span></a></li>
