<tr class="property property-{{cls}}">

  <td class="property-name"><strong>{{displayName}}</strong></td>

  <td class="property-value" colspan="2">

    {{#if isVisibility}}
        {{> detail/properties/types/visibility }}
        <button data-property="{{json}}" class="info"></button>
    {{else}}
      {{#if geoLocation}}
        {{> detail/properties/types/geoLocation }}
      {{else}}
        {{stringValue}}
      {{/if}}
      <button data-property="{{json}}" class="info"></button>
      <span class="visibility" data-visibility="{{visibilityJson}}"></span>
    {{/if}}

  </td>
</tr>
