<tr class="property property-{{cls}}">

  <td class="property-name"><strong>{{displayName}}</strong></td>

  <td class="property-value" colspan="2">
    {{stringValue}}

    <button data-property="{{json}}" class="info"></button>
    <span class="visibility" data-visibility="{{visibilityJson}}"></span>
  </td>
</tr>
