<table class="table">

  <% var modifiedDate =  property.metadata['http://lumify.io#modifiedDate'];
     if (modifiedDate) { %>
  <tr>
    <td class="property-name">Modified</td>
    <td class="property-value"><%= F.date.dateTimeString(modifiedDate) %></td>
  </tr>
  <% } %>

  <% var modifiedBy =  property.metadata['http://lumify.io#modifiedBy'];
     if (modifiedBy) { %>
  <tr>
    <td class="property-name">Modified By</td>
    <td class="property-value property-modifiedBy"><span class="badge loading" style="float: left;"></span></td>
  </tr>
  <% } %>

  <% var status = F.vertex.sandboxStatus(property.metadata)
     if (status) { %>
  <tr>
    <td class="property-name">Status</td>
    <td class="property-value property-status"><%= status %></td>
  </tr>
  <% } %>

  <% var confidence =  property.metadata['http://lumify.io#confidence'];
     if (confidence) { %>
  <tr>
    <td class="property-name">Confidence</td>
    <td class="property-value"><%= Math.round(confidence * 100) %>%</td>
  </tr>
  <% } %>

  <% var j = property.metadata._justificationMetadata,
         s = property.metadata._sourceMetadata;
     if (j || s) {  %>

    <tr>
      <td class="property-name property-justification" colspan="2">Justification</td>
    </tr>
    <tr>
      <td colspan="2" class="justificationValue"></td>
    </tr>
    
  <% } %>

</table>
<% 
  var canEdit = !!status || property.name === 'http://lumify.io#visibilityJson';
  var editButtonText = canEdit ? 'Edit' : 'Add';
  var editButtonCls = canEdit ? 'btn-edit' : 'btn-add';
  if (status) { %>
<button class="btn btn-danger btn-small requires-EDIT">Delete</button>
<% 
  }
%>
<button class="btn btn-default btn-small <%= editButtonCls %> requires-EDIT <%= (status) ? '' : 'noDelete' %>"><%= editButtonText %></button>
