
<% var timeSubtitle = F.vertex.time(vertex),
       subtitle = F.vertex.subtitle(vertex); %>
<li class="<%= classNamesForVertex[vertex.id] || '' %> vertex-item 
            <% if (timeSubtitle) { %> has-timeSubtitle<%}%>
            <% if (subtitle) { %> has-subtitle<%}%>" data-vertex-id="<%= vertex.id %>"
    ><a><%= F.vertex.title(vertex) %>
      <ul>
        <li class="graph"><button title="Displayed in Graph" href="#">Graph</button></li>
        <li class="map"><button title="Displayed in Map" href="#">Map</button></li>
      </ul>
      <div>
        <span class="preview"/>
        <span class="date"><%= timeSubtitle %></span>
        <span class="source"><%= subtitle %></span>
      </div>
    </a>
</li>
