<ul class="menu-top">
  <li class="dashboard"><a><%= i18n('menubar.icons.dashboard') %></a></li>

  <li class="divider"></li>

  <li class="search"><a><%= i18n('menubar.icons.search') %></a></li>
  <li class="workspaces"><a><%= i18n('menubar.icons.workspaces') %></a></li>
  <li class="requires-ADMIN admin"><a><%= i18n('menubar.icons.admin') %></a></li>

  <li class="divider"></li>

  <li class="graph"><a><%= i18n('menubar.icons.graph') %></a></li>
  <li class="map"><a><%= i18n('menubar.icons.map') %></a></li>

  <li class="divider"></li>


</ul>

<ul class="menu-bottom">

  <li class="activity"><a><%= i18n('menubar.icons.activity') %></a></li>

  <li class="spacer"></li>
  <li class="divider"></li>
  <li class="spacer"></li>

  <li class="logout"><a><%= i18n('menubar.icons.logout') %></a></li>
</ul>

