
<div class="entity-background">
  <div class="entity-glyphIcon"/>

  <h1 title="<%= formatters.vertex.prop(vertex, 'title') %>" class='generic-draggable entity-title' data-vertex-id="<%= vertex.id %>"><%= formatters.vertex.prop(vertex, 'title') %></h1>

  <div class="detail-toolbar">
    <div class="btn-toolbar">
      <%- fullscreenButton %>

      <%- auditsButton %>
    </div>
  </div>
</div>

<div class="nav-with-background">
    <div class="properties"/>

    <div class="relationships">
        <div class="nav-header">Relationships<span class="badge loading"/></div>
    </div>
</div>
