
<div class="entity-background">
  <div class="entity-glyphIcon"/>

  <h1 title="<%= F.vertex.title(vertex) %>" class='generic-draggable entity-title' data-vertex-id="<%= vertex.id %>"><%= F.vertex.title(vertex) %></h1>

  <div class="detail-toolbar">
    <div class="btn-toolbar">
      <%- fullscreenButton %>

      <%- auditsButton %>
    </div>
  </div>
</div>

<div class="nav-with-background">
    <div class="properties"/>

    <section class="relationships collapsible">
      <h1>
        <strong>Relationships</strong>
        <span class="badge"></span>
      </h1>
      <div class="relationships"></div>
    </section>
</div>
