<ul class="nav nav-list">
<% sortedKeys.forEach(function(type) { %>
    <% if (type === 'references') return;
       var relationships = relationshipsGroupedByType[type]; %>

    <li class="nav-header relationship"><%= type %></li>
    <% relationships.forEach(function(r) { %>
        <li class="relationship">
        <% if (type !== 'references') { %>
          <span class="rel-arrow"><%- (r.vertices.other.id !== r.vertices.src.id) ? '&#8592;' : '&#8594;' %></span>
          <span 
            class="<%= r.vertices.classes.other %>"
            data-vertex-id="<%= r.vertices.other.id %>" data-info="<%= JSON.stringify(r.vertices.other.properties) %>"><%- formatters.vertex.prop(r.vertices.other, 'title') %></span>
        <% } %>
        </li>
    <% }); %>
<% }); %>

    <% if (relationshipsGroupedByType['references']) { %>
        <li class="nav-header relationship">referenced in</li>
        <li class="references"></li>
    <% } %>
</ul>
