<% if (item.properties) { %>

  <div class="existing gId-<%= item.id %> <%= iconSrc ? 'has_preview' : '' %> conceptType-<%= F.vertex.prop(item, 'conceptType') %>">

    <% if (iconSrc) { %>
      <div class="preview" style="background-image:url(<%= iconSrc %>)" />
    <% } %>

    <%- html %>
    <% if (concept) { %>
      <span class="concept-type">(<%= concept.flattenedDisplayName %>)</span>
    <% } %>

    <% properties.forEach(function(property) { %>
          <div class="property property-<%= property.key %>">
            <strong><%= property.displayName %></strong><span class="value"><%= property.stringValue %></span>
          </div>
    <% }); %>
  </div>

<% } else { %>

  <div class="create-new">
    <%- html %>
  </div>

<% } %>
