<tr class="audit-row <%= shouldHide ? 'hidden' : '' %>">

    <% var relativeDate = formatters.date.relativeToNow(new Date(audit.dateTime)),
           absoluteDate = formatters.date.dateTimeString(audit.dateTime); %>

    <td>&nbsp;</td>

    <% if (audit.propertyAudit) { %>

        <% var to = formatValue(audit.propertyAudit.newValue, audit.propertyAudit.propertyName); %>
        <td class="audit-to">
          <span>
            <% if (to && audit.propertyAudit.propertyName === 'http://lumify.io#visibilityJson') { %>
              <span class="visibility" data-visibility="<%= to %>"></span>
          <% } else { %>
              <%= to %>
              <% var visibilityJson = audit.propertyAudit.propertyMetadata['http://lumify.io#visibilityJson']; %>
              <span class="visibility" data-visibility="<%= visibilityJson %>"></span>
          <% } %>
          </span>
        </td>

    <% } else if (audit.entityAudit && audit.entityAudit.title) { %>

        <td class="audit-message">
          <span>
            <%= audit.data.action %>
            <%= audit.data.type %> 
            <a data-info="<%= createInfoJsonFromAudit(audit.entityAudit) %>" 
              href="#v=<%= audit.entityAudit.id %>" 
              class="audit-to entity resolved"><%= audit.entityAudit.title %></a>
          </span>
        </td>

    <% } else if (audit.relationshipAudit && audit.relationshipAudit.label) { %>

        <td class="audit-message">
          <span>
            <%= audit.data.action %>
            <%= audit.relationshipAudit.label %>

            <% if (currentVertexId === audit.relationshipAudit.sourceId) { %>
              &#8594; 
              <a data-info="<%= createInfoJsonFromAudit(audit.relationshipAudit, 'dest') %>" 
                href="#v=<%= audit.relationshipAudit.destId %>" 
                class="audit-to entity resolved"><%= audit.relationshipAudit.destTitle %></a>
          <% } else { %>
            &#8592; 
            <a data-info="<%= createInfoJsonFromAudit(audit.relationshipAudit, 'source') %>" 
              href="#v=<%= audit.relationshipAudit.sourceId %>" 
              class="audit-to entity resolved"><%= audit.relationshipAudit.sourceTitle %></a>
          <% } %>
        </td>

    <% } else { %>

        <td class="audit-message">
          <span>
          <%= audit.data.action %> <%= audit.data.displayType || audit.data.type %>
          </span>
        </td>

    <% } %>

    <td class="audit-subtitle">
      <span class="audit-user" data-user-id="<%= audit.data.userId %>"><%= audit.data.userName %></span>,
      <span class="audit-date" data-date-relative="<%= relativeDate %>" data-date="<%= absoluteDate %>">
        <%= relativeDate %>
      </span>
    </td>
</tr>
