<li class="<%= selected === workspace.workspaceId ? 'active' : '' %>"
    data-users="<%= JSON.stringify(workspace.users || []) %>"
    data-created-by="<%= workspace.createdBy || '' %>"
    data-editable="<%= workspace.editable || false %>"
    data-title="<%= workspace.title %>"
    data-workspace-id="<%= workspace.workspaceId %>"
    ><a>
      <span class="badge" style="display:none"/><button class="disclosure btn btn-mini"></button><span class="nav-list-title"><%= workspace.title || workspace.workspaceId %></span><% if (workspace.sharingSubtitle) { %><span class="nav-list-subtitle"><%= workspace.sharingSubtitle %></span><% } %></a></li>

