
<li class="<%= classNamesForVertex[vertex.id] || '' %> vertex-item" 
    data-vertex-id="<%= vertex.id %>"
    ><a><%= vertex.properties.title || "No title available" %>
      <ul>
        <li class="graph"><button title="Displayed in Graph" href="#">Graph</button></li>
        <li class="map"><button title="Displayed in Map" href="#">Map</button></li>
      </ul>
      <div>
        <span class="preview"/>
        <span class="date"><%= vertex.properties.publishedDate ? new Date(vertex.properties.publishedDate).toDateString() : '' %></span>
        <span class="source"><% 
          var source = vertex.properties._source, author = vertex.properties.author;
        %><%= source ? 
          author ? ([source,author].join(' / ')) : source : 
          author ? author : '' %></span>
      </div>
    </a>
</li>
