
<li class="<%= classNamesForVertex[vertex.id] || '' %> vertex-item" 
    data-vertex-id="<%= vertex.id %>"
    ><a><%= vertex.prop('title') %>
      <ul>
        <li class="graph"><button title="Displayed in Graph" href="#">Graph</button></li>
        <li class="map"><button title="Displayed in Map" href="#">Map</button></li>
      </ul>
      <div>
        <span class="preview"/>
        <span class="date"><%= vertex.properties['http://lumify.io#publishedDate'] ? new Date(vertex.properties['http://lumify.io#publishedDate'].value).toDateString() : '' %></span>
        <span class="source"><%= vertex.resolvedSource %></span>
      </div>
    </a>
</li>
