
<ul class="nav nav-list">
    <li class="nav-header">Workspace ID</li>
    <li><input class="workspaceId" placeholder="{{ i18n 'admin.vertex.editor.placeholder.workspaceId' }}" type="text" value="{{ workspaceId }}"></li>

  <li class="nav-header">Vertex ID</li>
  <li><input class="vertexId" placeholder="{{ i18n 'admin.vertex.editor.placeholder.vertexId' }}" type="text" value="{{ vertexId }}"></li>
  <li>
    <button class="btn refresh">{{ i18n 'admin.vertex.editor.button.load' }}</button>
    <button class="btn btn-danger delete-vertex">{{ i18n 'admin.vertex.editor.button.delete' }}</button>
  </li>
    <li class="divider"></li>
</ul>
