<div class="fileImportPopover popover top collapseVisibility">
  <div class="popover-title">
    {{ i18n 'popovers.file_import.title' }} {{pluralString}}
  </div>
  <div class="arrow"></div>
  <div class="popover-content">

    <div class="errors"></div>

    <div class="single">
      {{#each rolledUp}}
      {{> util/popovers/fileImport/formattedFile }}
      {{/each}}
    </div>

    {{#if multipleFiles}}
    <label class="checkbox">
      <input class="copyVisibility" type="checkbox" checked> {{ i18n 'popovers.file_import.visibility.apply_to_all' }}
    </label>
    {{/if}}

    <div class="individual-visibility">
      {{#each formattedFiles}}
      {{> util/popovers/fileImport/formattedFile }}
      {{/each}}
    </div>

    <div>
      <button class="btn btn-primary">{{ i18n 'popovers.file_import.button.import' }}</button>
      <button style="display:none" class="btn btn-default">{{ i18n 'popovers.file_import.button.cancel' }}</button>
    </div>
  </div>
</div>
