<div class="multiple edges">

  <div class="multiple-container">
      <div class="entity-background relationship-background" style="height: 10em">
        <h1 class="relationship-header">
          <div 
            class="vertex-to-vertex-relationship" 
            data-vertex-id="<%= edges[0].source.id %>"
            ><span class="sourceTitle"><%= F.vertex.title(edges[0].source) %></span><div class="subtitle"><%= F.vertex.concept(edges[0].source).displayName %></div></div>
          <div class="relation"><%= label %> <span class="badge"><%= F.number.pretty(edges.length) %></span></div>
          <div
            class="vertex-to-vertex-relationship" 
            data-vertex-id="<%= edges[0].target.id %>"
            ><span class="destTitle"><%= F.vertex.title(edges[0].target) %></span><div class="subtitle"><%= F.vertex.concept(edges[0].target).displayName %></div></div>
        </h1>
        <div class="comp-toolbar"></div>
      </div>
  </div>

  <div class="details-container"><div class="content"></div></div>

  <div class="spacer"></div>
  <div class="edge-list"></div>
</div>
