<ul>
  {{#each toolbar~}}
  <li 
  class="{{#if submenu}}has-submenu{{/if}} {{#if cls}}{{ cls }}{{/if}}"
    {{#if event}} data-event="{{ event }}"{{/if}}
      >
    <a>
      <strong>{{ title }}</strong>
    </a>
    {{#if submenu~}}
      <ul>
        {{#each submenu~}}
        <li data-event="{{ event }}"{{#if divider}} class="divider"{{/if}}>
          {{~#unless divider~}}
            <a>{{ title }}
              {{#if subtitle}}
              <div class="subtitle">{{ subtitle }}</div>
              {{/if}}
            </a>
            {{~#if options}}
            {{#if options.fileSelector}}
            <input type="file" title="">
            {{/if}}
            {{/if}}
          {{~/unless~}}
        </li>
        {{~/each}}
      </ul>
    {{~/if~}}
  </li>
  {{~/each}}
</ul>
