<div class="diffs-list">

  <div class="diff-header">
      <div class="select-actions">
        <span><%= i18n('workspaces.diff.button.select_all') %></span>
        <div class="btn-group actions">
          <% if (Privileges.canPUBLISH) { %>
          <button data-action="publish"
            class="btn btn-mini select-all-publish requires-PUBLISH"><%= i18n('workspaces.diff.button.publish') %></button>
          <% } %>
          <button data-action="undo"
            class="btn btn-mini select-all-undo"><%= i18n('workspaces.diff.button.undo') %></button>
        </div>
      </div>

      <h1 class="header">
        <button class="btn btn-small publish-all btn-success"><%= i18n('workspaces.diff.button.publish') %></button>
        <button class="btn btn-small undo-all btn-danger"><%= i18n('workspaces.diff.button.undo') %></button>
        <span><%= i18n('workspaces.diff.header.unpublished_changes') %></span>
      </h1>
  </div>

  <div class="diff-content">
    <table class="table">
        <% diffs.forEach(function(diff) { %>
          <% if (diff.vertex) { %>
            <tr class="vertex-row <%= diff.className %>" data-diff-id="<%= diff.vertexId %>" data-vertex-id="<%= diff.vertexId %>">
                <th class="vertex-label" colspan="2">
                  <div class="img" <% if (diff.vertex) { %> style="background-image:url(<%= F.vertex.image(diff.vertex) %>)"<% } %>></div>
                  <h1 data-vertex-id="<%= diff.vertexId %>"><%= diff.title %>
                  <% if (diff.vertex['http://lumify.io#visibilityJson']) { %>
                    <div class="visibility" data-visibility="<%= JSON.stringify(diff.vertex['http://lumify.io#visibilityJson']) %>"></div>
                  <% } %>
                  </h1>

                  <% if (diff.action.type !== 'update') { %>
                  <span class="label action-type"><%= diff.action.display %></span>
                  <% } %>
                </th>
                <% if (diff.action.type === 'create') { %>
                  <% include workspaces/diff/actions %>
                <% } else { %>
                  <td>&nbsp;</td>
                <% } %>
            </tr>
          <% } else if (diff.edge) { %>
            <tr class="vertex-row <%= diff.className %>" data-diff-id="<%= diff.edgeId %>" data-edge-id="<%= diff.edgeId %>">
                <th class="vertex-label" colspan="2">
                  <div class="img"></div>
                  <h1 data-edge-id="<%= diff.edgeId %>"><%= F.vertex.title(diff.edge.source) %> <span class="edge-label"><%= diff.edgeLabel %> </span> <%= F.vertex.title(diff.edge.target) %>
                  <% if (diff.edge['http://lumify.io#visibilityJson']) { %>
                    <div class="visibility" data-visibility="<%= JSON.stringify(diff.edge['http://lumify.io#visibilityJson']) %>"></div>
                  <% } %>
                  </h1>

                  <% if (diff.action.type !== 'update') { %>
                  <span class="label action-type"><%= diff.action.display %></span>
                  <% } %>
                </th>
                <% if (diff.action.type === 'create') { %>
                  <% include workspaces/diff/actions %>
                <% } else { %>
                  <td>&nbsp;</td>
                <% } %>
            </tr>
          <% } %>



          <% diff.properties.forEach(function(property) { %>
          <tr class="<%= property.className %>" data-diff-id="<%= property.id %>">
            <td class="property-label"><%= formatLabel(property.name) %></td>
            <td class="property-value"><%
              if (property.old && property.new) { %>
              <%= formatValue(property.name, property.new, property) %>
              <div class="visibility" data-visibility="<%= JSON.stringify(property.new['http://lumify.io#visibilityJson']) %>"></div>

              <div style="text-decoration:line-through"><%= formatValue(property.name, property.old, property) %></div>
              <div class="visibility" data-visibility="<%= JSON.stringify(property.old['http://lumify.io#visibilityJson']) %>"></div>

              <% } else if (property.new) { %>
              <%= formatValue(property.name, property.new, property) %>
              <div class="visibility" data-visibility="<%= JSON.stringify(property.new['http://lumify.io#visibilityJson']) %>"></div>
              <% } %>


            </td>
            <% include workspaces/diff/actions %>
          </tr>
          <% }); %>

        <% }); %>
    </table>
  </div>
</div>
